<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="connections" type="MembershipManager.Config.ConnectionsSection, MembershipManager" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <system.web>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="60">
      <providers>
        <clear/>
        <add name="SqlProvider" type="MembershipManager.Providers.CustomSqlMembershipProvider, MembershipManager"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <add name="SqlRoleManager" type="MembershipManager.Providers.CustomSqlRoleProvider, MembershipManager"/>
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DummyConnectionString" connectionString="Data Source=dummy;"/>
  </connectionStrings>
  <connections>
    <add name="Test" applicationName="Test" connectionStringName="DummyConnectionString" />
  </connections>
</configuration>