<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="60">
      <providers>
        <clear/>
        <add name="SqlProvider" type="MembershipManager.Providers.CustomSqlMembershipProvider, MembershipManager" requiresQuestionAndAnswer="false"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <add name="SqlRoleManager" type="MembershipManager.Providers.CustomSqlRoleProvider, MembershipManager"/>
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DummyConnectionString" connectionString="Data Source=dummy;"/>
  </connectionStrings>
</configuration>