<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PlaceholderConnectionString" connectionString="Data Source=dummy;Initial Catalog=dummy;" />
  </connectionStrings>
  <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="60">
    <providers>
      <clear />
      <add name="SqlProvider" type="MembershipManager.Providers.CustomSqlMembershipProvider" />
    </providers>
  </membership>
  <roleManager enabled="true" defaultProvider="SqlRoleManager">
    <providers>
      <add name="SqlRoleManager" type="MembershipManager.Providers.CustomSqlRoleProvider" />
    </providers>
  </roleManager>
</configuration>